@model IEnumerable<CarRentManagementSystem_DomainClasses.Models.DriverViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <a href="#" id="btnAddDriver" class="btn btn-primary m-b-10">Add New Driver +</a>
                <div class="table-responsive">
                    <table id="DriversTable" class="table no-wrap table-hover contact-list" data-page-size="10">
                        <thead>
                            <tr>
                                <th>Sr.</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>CNIC</th>
                                <th>Address</th>
                                <th>License Type</th>
                                <th>License Number</th>
                                <th>City</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int k = 1;
                            }
                            @foreach (var i in Model)
                            {
                                <tr>
                                    <td>@k</td>
                                    <td>@i.FirstName</td>
                                    <td>@i.LastName</td>
                                    <td>@i.CNIC</td>
                                    <td>@i.Address</td>
                                    <td>@i.LicenseType</td>
                                    <td>@i.LicenseNo</td>
                                    <td>@i.City</td>
                                    @if (i.IsActive == true)
                                    {
                                        <td style="color: green;">Active</td>
                                    }
                                    else
                                    {
                                        <td style="color:red;">De-Active</td>
                                    }
                                    <td>
                                        <a href="#" onclick="EditDriver('@i.Id')">Edit</a> | @if (i.IsActive == true)
                                        {
                                            <a href="/Admin/ChangeDriverStatus?DriverId=@i.Id">De-Activate</a>
                                        }
                                        else
                                        {
                                            <a href="/Admin/ChangeDriverStatus?DriverId=@i.Id">Activate</a>
                                        }
                                    </td>
                                </tr>
                                k++;
                            }

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <!-- Column -->

    </div>
</div>


<div class="modal fade" id="AddDriverModal" tabindex="-1" role="dialog" aria-labelledby="AddDriverModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="EditDriverModal" tabindex="-1" role="dialog" aria-labelledby="EditDriverModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>


<script>
    function EditDriver(DriverId) {

        $.ajax({
            url: '/Admin/EditDriver?DriverId='+DriverId,
            type: 'GET',
            contentType: 'application/html',
            success: function (content) {
                toggleModal('EditDriverModal');
                $('#EditDriverModal div.modal-content').html(content);
            },
            error: function (e) {
                swal("Try Again!", "Some Error Occured. Try Again!", "warning");
            }
        });

    }
    $(document).ready(function () {
        var alertFlag = @ViewBag.AlertFlag;
        if(alertFlag === 1){
            swal("Success!", "Driver Created Successfully!", "success");
        }
        else if(alertFlag === 2){
            swal("Updated!", "Driver Updated Successfully!", "success");
        }
        else if(alertFlag === 3){
            swal("Updated!", "Driver Deactivated Successfully!", "success");
        }
        else if(alertFlag === 4){
            swal("Updated!", "Driver Activated Successfully!", "success");
        }

        $("#DriversTable").DataTable();

        $("#btnAddDriver").click(function () {

            $.ajax({
                url: '/Admin/CreateDriver',
                type: 'GET',
                contentType: 'application/html',
                success: function (content) {
                    toggleModal('AddDriverModal');
                    $('#AddDriverModal div.modal-content').html(content);
                },
                error: function (e) {
                    swal("Try Again!", "Some Error Occured. Try Again!", "warning");
                }
            });

        });

    });

</script>